* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

header {
  display: flex;
}

/*..........................................*/
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(29, 29, 29);
  overflow-x: hidden;
}

.nav-logo {
  width: 100px;
}

.main__imagen-principal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

label .menu {
  position: absolute;
  right: -80px;
  top: -80px;
  z-index: 100;
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 rgba(202, 202, 202, 0.377), 0 0 0 0 #FFF;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #303030;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #303030;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 2em;
  display: block;
  color: #303030;
  text-decoration: none;
}

/*..........................................*/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.main__p {
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 50px;
  color: gray;
}

a.nav-link:hover {
  color: black;
  transform: scale(0.98);
}

.gallery__imagen:hover {
  transform: scale(1.04);
}

.gallery__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__container .gallery__imagen {
  height: 15rem;
  width: 25rem;
  margin: 2rem;
}

.gallery__container .gallery__imagen img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/*----- contact ------*/
.container-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.container-contact h1 {
  font-weight: 600;
}

form {
  width: 60vh;
  margin: 60px;
  background-color: #f5f5f5;
  padding: 30px;
}

.container-c {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.container-c__isaac-alfaro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
}

.container-c__isaac-alfaro h2 {
  padding-top: 14px;
}

.container-c__imagen {
  background-color: rgb(255, 255, 255);
  height: auto;
}

.container-c__aboutme {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
}

/*---------about me-------*/
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
  background-color: antiquewhite;
  justify-content: center;
}

.container__isaac-alfaro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vh;
}

.container__isaac-alfaro h2 {
  padding-top: 14px;
  font-weight: 600;
}

.container__imagen {
  width: 200px;
  height: 200px;
  background-color: #f5f5f5;
}

.container__aboutme {
  width: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.info h5 {
  font-weight: 600;
}

.info-item {
  max-width: 380px;
}

/*---------- grid ------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: minmax(425px, auto);
  gap: 2px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  transform: scale(1.01);
}

.a {
  background-color: antiquewhite;
}

.b {
  background-color: rgb(255, 246, 234);
}

/*------------ shop  ---------*/
.grid-container-shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 200px));
  grid-auto-rows: minmax(350px, auto);
  gap: 40px;
  margin: 50px;
  justify-content: center;
}

.grid-item-shop {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item-shop:hover {
  transform: scale(1.01);
}

.contenedor-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor-search h3 {
  padding: 40px;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 800px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::-moz-placeholder {
  color: #9e9ea7;
}

.input:-ms-input-placeholder {
  color: #9e9ea7;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus, input:hover {
  outline: none;
  border-color: antiquewhite;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/*media*/
@media screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100vh;
    align-items: center;
  }
  .container__isaac-alfaro h2 {
    padding-left: 40px;
  }
  .container__isaac-alfaro h5 {
    padding-left: 40px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(425px, auto);
    width: 100vh;
  }
  .footer__texto {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .container-c {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-c__aboutme {
    align-items: center;
    text-align: center;
  }
  .container-c__isaac-alfaro {
    align-items: center;
  }
  form {
    width: 40vh;
  }
}
@media screen and (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
    align-items: stretch;
    width: 100vh;
    align-items: center;
  }
  .container-c {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  form {
    width: 40vh;
  }
  .container-c__aboutme {
    align-items: center;
    text-align: center;
  }
  .container-c__isaac-alfaro {
    align-items: center;
  }
}
/*------------ footer ----------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  background-color: antiquewhite;
  bottom: 0;
}

.rrss {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100vh;
}

.rrss__logos {
  width: 25px;
}

.footer-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
}/*# sourceMappingURL=styles.css.map */